<% if @products.empty? %>
  <div class="ui icon message">
    <i class="shop icon"></i>
    <div class="content">
      <!-- 查無此商品 -->
      <div class="header"> <%= t("site.find.find_nil",default:"Can not find this item") %> </div>
      <!-- 請試試熱門關鍵字 MAJESTY ,JILSANDER、MJP -->
      <p><%= t("site.find.find_sug",default:"Plese try these hot keys: MAJESTY、JILSANDER") %> </p>
    </div>
  </div>
<% else %>
  <div class="ui four cards">
    <% @products.each do |product| %>
      <%= render 'item_fields', f: product %>
    <% end %>
  </div>
<% end %>
