// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";
@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";

// 

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.red.message,  .ui.olive.message{
  position: absolute;
  top: 70px;
  left:0;
  right:0;
  margin-left: 25%;
  margin-right: 25%;
  z-index: 999;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0px;
}

// @media only screen and (max-width: 700px) {
//   .ui.fixed.menu {
//     display: none !important;
//   }
//   .secondary.pointing.menu .item,
//   .secondary.pointing.menu .menu {
//     display: none;
//   }
//   .secondary.pointing.menu .toc.item {
//     display: block;
//   }
//   .masthead.segment {
//     min-height: 350px;
//   }
//   .masthead h1.ui.header {
//     font-size: 2em;
//     margin-top: 1.5em;
//   }
//   .masthead h2 {
//     margin-top: 0.5em;
//     font-size: 1.5em;
//   }
// }